/venv
/A4/*
/A3/*
/A2/*
/A1/*
*.jpeg
*.jpg
*.xls
*.xlsx
*.webp
*.pptx
*.bmp
*.bmp.part
*.gif
*.svg
*.doc
*.docx
*.rtf
*.html
*.txt
*.png
!requirements.txt
/.idea
/input_documents
/input_images
/__pycache__
.env
users_key_files.db

